@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	overflow-y: scroll;
}
input[type='number'] {
	appearance: textfield;
	-moz-appearance: textfield; /* For Firefox */
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
	-webkit-appearance: none; /* For Chrome, Safari, Edge */
	margin: 0;
}
